<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/zodiac.css">
    <h1>ARIES</h1>
    <img src="../static/images/Aries.gif">
    <p>The Aries soulmate is a fierce, flirtatious, and emotionally forthright person.
        They enjoy being captivating, and they’re also allured by the idea of being captured.
        Aries seeks out lovers who share their appetite for risk.</p>
    <form action = "http://localhost:5000/match" name="match" method="POST" >
        <button type="button" name="match">Match</button>
    </form>
</head>
<body>

</body>
</html>