<!DOCTYPE html>
<!--
	Indus by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html lang="en" class="no-js">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>Pleiades</title>

        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/et-lineicon.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,400italic,500italic,700' rel='stylesheet' type='text/css'>
        <!--[if IE]>
        	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
	</head>
	<body>

        <!-- Preloader -->
        <div class="animationload">
            <div class="loader">
                Loading...
            </div>
        </div> 
        <!-- End Preloader -->

        <!-- =========================
                 HOME
        ========================== -->

		<section id="home">
			<div class="content">
                <div id="large-header" class="large-header">
                    <canvas id="demo-canvas"></canvas>
                    <div id="countdown_dashboard" class="home-main container">
                        <div class="row">
                            <div class="logo">
                                <img src="../static/images/logo.png" alt="logo">
                                <p>Find your match among the stars.</p>
                            </div>
                        </div>
                        <div class="row">
 
                        </div> <!-- END ROW -->
                    </div> <!-- END COUNTDOWN -->
                </div> <!-- LARGE HEADER -->
            </div> <!-- END CONTENT -->
        </section>

        <!-- =========================
                 NEWSLETTER
        ========================== -->

        <section class="newsletter">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="main_content">
                            <h4><strong>PLEIADES- "The Seven Sisters"</strong></h4>
                            <p>The Pleiades, also known as "The Seven Sisters" and Messier 45, is an open star cluster containing middle-aged, hot B-type stars in the north-west of the constellation Taurus.
                                Pleiades is the key to meeting the star of your dreams.</p>
                            
                        </div>  
                    </div>
                </div>
            </div>
        </section>

        <!-- =========================
                 FEATURES
        ========================== -->

        <section class="features parallax" data-stellar-background-ratio="0.7" id="features">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-4 col-md-4">
                        <div class="features-box">
                            <div class="open-overlay"><i class="icon-lightbulb"></i></div>
                            <h4>ALQ</h4>
                            <p>ALQ, 'Astral Love Quotation', is our advanced machine learning algorithm that uses the ALQ value, Pleiades live location, vibration frequency of the universe,
                                the number of zodiac signs, and the number of stars in Pleiades to find the perfect person for you.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="features-box">
                            <div class="open-overlay"><i class="icon-scope"></i></div>
                            <h4>Star Sign</h4>
                            <p>We use your data to inform you of your star sign and use this in ALQ.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="features-box">
                            <div class="open-overlay"><i class="icon-circle-compass"></i></div>
                            <h4>Star Alignment</h4>
                            <p> We use our algorithm and live data to track where Pleiades is at all times. This allows you to
                                find the match that aligns with you at all times.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>    

        <!-- =========================
                 CONTACT
        ========================== -->

        <section id="contact" class="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h4>Fill out the Questionnaire</h4>
                        <div class="line-separate line-white text-center"><span></span></div>
                        <p>Select the most relevent choice from the dropdown boxes.</p>
                    </div> <!-- end Our Location -->
                </div> <!-- end row -->
                <!-- CONTACT FORM -->
                <div id="cformSuccessMsg" style="display: none;" class="confirm-message"></div>


                <form action = "http://localhost:5000/login" name="questionnaireForm" method="POST" >
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
                            <input class="" type="text" name="contact_name" id="contact_name" placeholder="Name" />
                        </div> <!-- end Name -->
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-lg-offet-2 col-md-offset-2">
                            <label for="pulldown">Sex:</label>
                                <select name="sex" id="pulldown" name="Sex">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                        </div>
                        <br><br>
                        <div class="col-lg-8 col-md-8 col-lg-offet-2 col-md-offset-2">
                            <label for="pulldown">Day Of Birth:</label>
                                <select name="day"id="pulldown1" name="DayOfBirth">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                        </div>
                        <br><br>
                        <div class="col-lg-8 col-md-8 col-lg-offet-2 col-md-offset-2">
                            <label for="pulldown">Month Of Birth:</label>
                                <select name="month" id="pulldown2" name="MonthOfBirth">
                                    <option value="1">Jan</option>
                                    <option value="2">Feb</option>
                                    <option value="3">Mar</option>
                                    <option value="4">Apr</option>
                                    <option value="5">May</option>
                                    <option value="6">Jun</option>
                                    <option value="7">Jul</option>
                                    <option value="8">Aug</option>
                                    <option value="9">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                        </div>
                        <br><br>
                        <div class="col-lg-8 col-md-8 col-lg-offet-2 col-md-offset-2">
                            <label for="pulldown">Education:</label>
                                <select name="degree" id="pulldown3" name="Education">
                                    <option value="lt high school">Less than high school</option>
                                    <option value="high school">High School</option>
                                    <option value="junior college">Community College</option>
                                    <option value="bachelor">Bachelor's Degree</option>
                                    <option value="graduate">Graduate's Degree</option>
                                </select>
                        </div>
                        <br><br>
                        <div class="col-lg-8 col-md-8 col-lg-offet-2 col-md-offset-2">
                            <label for="pulldown">Sexual Orientation:</label>
                                <select name="sexorient" id="pulldown4" name="Sexual Orientation">
                                    <option value="exclusively female">Prefer women</option>
                                    <option value="exclusively male">Prefer men</option>
                                    <option value="both male and female">Prefer both</option>
                                </select>
                        </div>
                        <br><br>
                        <div class="col-lg-8 col-md-8 col-lg-offet-2 col-md-offset-2">
                            <label for="pulldown">How many people named Mark do you know:</label>
                                <select name="acqmark" id="pulldown5" name="Mark">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2-5">2-5</option>
                                    <option value="6-10">6-10</option>
                                </select>
                        </div>
                        <br><br>
                        <div class="col-lg-8 col-md-8 col-lg-offet-2 col-md-offset-2">
                            <label for="pulldown">Do you agree with this statement: "I am sociable" :</label>
                                <select name="sociability" id="pulldown6" name="Sociable">
                                    <option value="strongly agree">Strongly Agree</option>
                                    <option value="agree">Agree</option>
                                    <option value="neither agree nor disagree">Neutral</option>
                                    <option value="disagree">Disagree</option>
                                    <option value="strongly disagree">Strongly Disagree</option>
                                </select>
                        </div>
                    </div> <!-- end Message -->
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-lg-offet-2 col-md-offset-2">
                            <br>
                            <input type="submit" value="Align"/>
                        </div>
                    </div> <!-- end button -->
                </form><!-- END FORM -->
            </div> <!-- end container -->
        </section> <!-- end Contact -->

        <!-- =========================
                 FOOTER
        ========================== -->

        <footer class="footer">
            <div class="container text-center">
                <div class="row">
                    <p class="copyright">Copyright© 2016 <a href="http://templatestock.co">Template Stock</p>
                </div>
            </div>
        </footer>
            
        <!-- JAVASCRIPTS -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/jquery.lwtCountdown-1.0.js"></script>
        <script src="../static/js/jquery.stellar.min.js"></script>
        <script src="../static/js/jquery.nicescroll.min.js"></script>
        <script src="../static/js/animated.js"></script>
        <script src="../static/js/main.js"></script>
	</body>
</html>