<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/zodiac.css">
    <h1>LEO</h1>
    <img src="../static/images/Leo.gif">
    <p>Leos desire someone who can feed them both physically and emotionally. They want to be worshipped. They need to feel like the focus of your attention.</p>
    <form action = "http://localhost:5000/match" name="match" method="POST" >
        <input type="submit" name="match">Match</input>
    </form>
</head>
<body>

</body>
</html>