<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/zodiac.css">
    <h1>TAURUS</h1>
    <img src="../static/images/Taurus_1.gif">
    <p>Taureans are attracted to people who make them feel safe and comfortable. Taurus are attracted to practical people. People that can cater to the needs that a Taurus may have.</p>
    <form action = "http://localhost:5000/match" name="match" method="POST" >
        <input type="submit" name="match">Match</input>
    </form>
</head>
<body>

</body>
</html>